body {background-color: skyblue;}


h1,h2,h3 {
  font-family: 'Anton', sans-serif;
  text-align:center;
  margin-top: 30px;
  color: salmon;
  text-shadow: 3px 3px #000;
  
  
}


.btn1, .btn2, .btn3, .btn4, .btn5, .btn6 , .btn7, .btn8, .btn9 , .btn10, .btn11 {
margin-left: 45px;
padding-top: 10px ;
padding-bottom: 10px;
width: 200px;
position: relative;



}


.quiz {
  position: absolute;
  left: 650px;
  bottom:500px;
  font-size: 1.1rem;
  text-align: center;
}